* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --technology: #fc7f68;
  --biology: #3ea551;
  --literature: #363f65;
  --grey: #707070;
}
html {
  height: 100%;
}

header {
  max-height: 20rem;
  display: flex;
  justify-content: center;
  border-bottom: var(--literature) solid 1px;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
}
main {
  flex: 1 0 auto;
}
/* FOOTER */
footer {
  background: var(--literature);
  height: auto;
  flex-shrink: 0;
}
footer div {
  display: flex;
  justify-content: center;
}
i.social-icon {
  font-size: 3rem;
  color: #fff;
  padding: 3rem;
}
.logo {
  height: 10rem;
}

/*TYPOGRAPHY*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}
h1 {
  font-weight: bold;
  color: var(--technology);
  font-size: 2rem;
  margin-top: 2rem;
}
/* Global */
ul {
  list-style: none;
  display: flex;
}
.navigation li {
  margin: 3rem 2rem;
}

.light {
  color: #fff;
  border: #fff solid 3px;
}
.menu-item {
  font-family: "Open Sans";
  color: var(--grey);
  text-decoration: none;
  font-weight: bold;
}
.menu-btn {
  display: none;
}
nav label {
  display: none;
}
.menu-item:hover {
  color: var(--technology);
}
.visiting {
  color: var(--technology);
}

.hero-explore {
  padding: 5rem;
  max-width: 25rem;
  max-height: 15rem;
  min-width: 23rem;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  grid-area: explore;
  text-align: center;
  align-self: center;
}
.hero-explore-link {
  text-decoration: none;
  display: flex;
}
.hero h1 {
  color: #fff;
  align-self: center;
}
.hero-interacive {
  width: 100%;
  height: 5rem;
  text-align: center;
  grid-area: interactive;
  padding-top: 1.5rem;
  align-self: end;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
}
.hero-interacive span {
  color: var(--technology);
}
.hero-interacive a {
  text-decoration: none;
}
.hero {
  background-image: url(/img/rsz_1roberto-nickson-396152.jpg);
  min-height: 50rem;
  display: grid;
  grid-template-columns: auto auto 25% 15%;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    ". . . . "
    ". . explore ."
    ". . . ."
    "interactive interactive interactive interactive";
}

.linear-background {
  background-image: linear-gradient(#363f65, #506bdc);
}

.interactiv-exhib,
.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 20%;
}

.intro-exhib-wrapper,
.categories div {
  margin: 3rem auto;
}
.categories div img {
  filter: drop-shadow(0 0 3px #000);
}
.intro-exhib-wrapper {
  filter: drop-shadow(0 0 3px #000);
}
.interactiv-exhib img {
  width: 15rem;
}
.intro-exhib {
  background-color: #fff;
  width: 15rem;
  height: 10rem;
  padding: 0.3rem;
}
.intro-exhib a {
  text-decoration: none;
  color: var(--literature);
}
.intro-exhib a:hover {
  color: var(--technology);
}
.technology {
  border: var(--technology) solid 0.3rem;
}
.biology {
  border: var(--biology) solid 0.3rem;
}

.categories img {
  max-height: 15rem;
}
.categories h2 {
  text-align: center;
  color: var(--grey);
  padding: 3rem 0 1rem 0;
}
.cat-technology img {
  border: var(--technology) solid 0.3rem;
}
.cat-biology img {
  border: var(--biology) solid 0.3rem;
}
.cat-library img {
  border: var(--literature) solid 0.3rem;
}

/* Fix for text on hero image since firefox doesn't support backdrop-filter */
@-moz-document url-prefix() {
  .hero-interacive {
    background: rgba(0, 0, 0, 0.85);
  }
}

/* CONTACT-PAGE */
.contact-main section {
  display: flex;
  justify-content: center;
  margin: 3rem 5rem;
}
.contact-form,
.contact,
.contact-list {
  background-color: #fff;
}
.contact {
  display: flex;
  justify-content: center;
}
.contact-form {
  display: flex;
  flex-direction: column;
  width: 20rem;
  margin: 0 0 0 5rem;
}

.contact-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 1.25rem;
}
.contact-list li {
  margin-top: 0.5rem;
}
.contact-list li:last-child {
  margin-top: 1.5rem;
}
.contact-icon {
  color: var(--literature);
}
.contact-form input {
  height: 2rem;
  width: 20rem;
  color: var(--literature);
  border: 0em;
  margin: 0.5rem 0 0.75rem;
  background-color: #e3e9ff;
}
.contact-form label {
  /* margin-top: 2rem; */
  font-size: 1.25rem;
}
.send-form-btn {
  text-align: center;
  font-size: 1.25rem;
  border: var(--biology) solid 2px;
  background-color: var(--biology);
}
.send-form-btn:hover {
  background-color: var(--technology);
  font-weight: 700;
}
#message {
  height: 10rem;
}
.page-title {
  display: flex;
  justify-content: center;
}

/* VISIT */

.visit-info {
  margin: 3rem 0;
  display: flex;
  justify-content: center;
}
.visit-info div {
  max-width: 35rem;
  margin: 5rem;
}
.visit-info h2 {
  color: var(--grey);
  font-size: 1.25rem;
}
.visit-info p {
  margin: 0.25rem 0 1rem 0;
}
.hours {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: var(--literature);
  color: #fff;
  width: 274px;
}
.hours span {
  font-weight: bold;
}
.hours li {
  margin-bottom: 0.5rem;
}

/* EXPLORE & INVOLVED*/
.explore-main,
.involved-main {
  max-width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
}
.explore-main h2,
.involved-main h2 {
  color: var(--grey);
  font-size: 1.25rem;
  margin: 2rem 0 1rem 0;
}
.involved-main p:last-child {
  margin-bottom: 2rem;
}

.explore-image {
  max-height: 20rem;
}
/* INTERACTIVE */
.interactive-main {
  background-color: var(--literature);
}
.interactive-activities-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.interactive-activities-wrapper div {
  display: flex;
  max-width: 75rem;
  margin: 3rem;
  background-color: #fff;
}
.interactive-activities-text {
  display: flex;
  flex-direction: column;
}
.interactive-activities-wrapper img {
  width: 20rem;
}
.book-button {
  margin-top: 1.5rem;
  background-color: var(--biology);
  width: 10rem;
  height: 3rem;
  text-align: center;
  padding-top: 0.7rem;
  border: var(--biology) solid 1px;
  align-self: center;
}
.book-button:hover {
  background-color: var(--technology);
  font-weight: bold;
}

@media only screen and (max-width: 1200px) {
  .interactiv-exhib,
  .categories {
    margin: 0 10%;
  }
  .intro-exhib-wrapper {
    margin: 3rem 0.5rem;
  }
}
@media only screen and (max-width: 1024px) {
  .logo {
    height: 6rem;
  }
  .hero {
    background-image: url(/img/rsz_1roberto-nickson-medium.jpg);
    background-position: center;
    grid-template-columns: auto 25% auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      ". . .  "
      ". .explore ."
      ". .  ."
      "interactive interactive interactive";
  }
  .intro-exhib-wrapper,
  .categories div {
    margin: 1rem;
    align-self: center;
  }
  .categories h2 {
    padding: 1rem;
  }
  .intro-exhib {
    height: 5rem;
  }
  .contact-main section {
    flex-direction: column;
    margin: 3rem 0;
  }
  .contact-form {
    margin: auto;
    margin-top: 3rem;
  }
  .visit-info {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 0;
  }
  .visit-info div {
    margin: 1rem 2rem;
  }
  .hours div {
    margin: 0;
  }
}
@media only screen and (max-width: 768px) {
  header {
    justify-content: space-between;
    flex-direction: row-reverse;
    max-height: 30rem;
  }
  nav label {
    display: block;
    font-size: 2.5rem;
    margin: 1rem 0 0 1rem;
    color: var(--biology);
  }

  .navigation {
    display: none;
    flex-direction: column;
  }

  #menu-btn:checked ~ .navigation {
    display: block;
  }

  .navigation li {
    border-bottom: var(--literature) solid 1px;
    padding: 1rem;
    margin: 0 0 1rem 1rem;
  }
  .navigation li:last-child {
    margin-bottom: 0;
    border-bottom: none;
  }

  .hero {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "explore"
      "."
      "interactive";
  }
  .hero-explore {
    justify-self: center;
  }

  .interactive-activities-wrapper div {
    flex-direction: column;
  }
  i.social-icon {
    font-size: 2.5rem;
    color: #fff;
    padding: 1.5rem;
  }
  .explore-main,
  .involved-main {
    max-width: 75%;
  }
}
